@import '../../../global.css';
.TabButton {
    border: 1px solid var(--slight-bright-color);
    
    padding: 10px;
    font-size: 20px;

    color: var(--slight-bright-color);
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;

    text-align: left;
}

.Active {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--background-color);
}

.Active:hover {
    color: var(--background-color)!important;
}