@import '../../../global.css';

.InputRow {
    width: 100%;
    display: flex;
    column-gap: 10px;
}

.InputItem {
    flex: 1;
    text-align: left;
}

.Input {
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    background-color: transparent;
    padding: 5px 10px;
    font-family: "Consolas";
    font-size: 15px;
    margin-top: 5px;
    box-sizing: border-box;
    display: block;
}

.Input:focus {
    outline: 2px solid var(--slight-bright-color);
}

.InputLabel {
    margin-left: 5px;
}

.OptionInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 4px;
}

.Options {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
}

.Option {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 1px 7px;
    font-size: 10px;
}

.EditButton {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    background-color: transparent;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    padding: 3px 8px;
}

.EditButton:hover {
    border-color: var(--semi-transparent-color);;
    background-color: var(--semi-transparent-color);
    color: #08344e;
}