@import '../../../../global.css';
.RootDiv {
    /* flex: 1 1 0px; */
    border: 10px solid var(--background-color);
    border-radius: 10px;
    outline: 1px solid var(--primary-color);
    min-width: 200px;
    max-width: 300px;
    max-height: 140px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.Dashed {
    border-style: dashed!important;
}

.Divider {
    margin-top: 10px;
    border-color: var(--primary-color);
    width: 100%;
}

.TitleDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.Title {
    font-size: 25px;
    text-align: left;
}

.StudyMaterials, .Tags {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 4px;
    position: relative;
}

.StudyMaterials > div {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 1px 5px 2px;
    font-size: 13px;
}

.Tags > div {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 1px 3px 2px;
    font-size: 10px;
}

.StudyMaterial {
    user-select: none;
    cursor: pointer;
}

.StudyMaterial:hover {
    border-color: var(--semi-transparent-color);
    background-color: var(--semi-transparent-color);
    color: #08344e;
}

.RelativeButton {
    position: absolute;
    top: 0;
    right: 0;
}

.EditButton {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    padding: 6px 8px 5px;
}

.EditButton:hover {
    border-color: var(--semi-transparent-color);;
    background-color: var(--semi-transparent-color);
    color: #08344e;
}

.EditButtonIcon {

}

.ActionDiv {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background-color: var(--background-color);
    outline: 10px solid var(--background-color);
    border-radius: 10px;
    z-index: 4;
}

.Hide {
    display: none;
}