@import '../../../../global.css';

.Tag {
    position: relative;
    text-align: center;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px 15px;
    user-select: none;
    cursor: pointer;
    font-family: "Consolas";
    font-size: 14px;
    min-width: 100px;
}

.Button {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--primary-color);
    font-weight: bold;
    font-family: "Consolas";
    font-size: 12px;
    cursor: pointer;
    background-color: var(--background-color);
}

.Button:hover {
    border-color: var(--semi-transparent-color);;
    background-color: var(--semi-transparent-color);
    color: var(--background-color);
}

.EditButton {
}

.DeleteButton {
}

.ActionDiv {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    
    background-color: var(--background-color)b2;
    border-radius: 5px;

    height: 100%;
}

.Hide {
    display: none;
}
