.TopicList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    padding: 0 20px;
    /* align-items: center; */
}

.AddTopic {
    border: 1px solid lightblue;
    border-radius: 5px;
    color: lightblue;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Consolas";    
    font-size: 20px;
    cursor: pointer;
    padding: 0;
}

.AddTopicIcon {
    padding: 9px 20px 7px;
    --fa-secondary-opacity: 0.7;
}

.AddTopic:hover {
    border-color: rgba(173, 216, 230, 0.822);
    background-color: rgba(173, 216, 230, 0.822);
    color: #282c34;
}

.AddTopic:focus {
    outline: 2px solid rgba(173, 216, 230, 0.555);
}