.RootDiv {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.Panel {
    border: 15px solid #282c34;
    outline: 1px solid rgba(173, 216, 230, 0.247);
    border-radius: 15px;
    width: 1200px;
    margin: auto;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    overflow: auto;
}

.ActionPanel {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.Button {
    border: 2px solid lightblue;
    border-radius: 10px;
    color: lightblue;
    background-color: transparent;
    padding: 5px 20px;
    font-weight: bold;
    font-family: "Consolas";
    font-size: 18px;
    cursor: pointer;
}

.Button:hover {
    background-color: lightblue;
    color: #282c34;
}

.Button:active {
    background-color: transparent;
    color: lightblue;
}

.Date {
    font-size: 50px;
    user-select: none;
    cursor: pointer;
}

.DateSection {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: baseline;
}

.DateShifterButton {
    font-size: 50px;
    border: none;
}

.SummaryModeTitle {
    padding: 7px 0;
}