@import '../../../global.css';

.RootDiv {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.Panel {
    border: 15px solid transparent;
    outline: 1px solid var(--slight-bright-color);
    border-radius: 15px;
    /* width: 1200px; */
    margin: auto;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    overflow: auto;
}

.ActionPanel {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    align-items: center;
}

.Button {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    background-color: transparent;
    padding: 5px 20px;
    font-weight: bold;
    font-family: "Consolas";
    font-size: 18px;
    cursor: pointer;
}

.Button:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.Button:active {
    background-color: transparent;
    color: var(--primary-color);
}

.BackButton {
    border: none;
    font-size: 30px;
    padding: 5px 20px;
}

.Date {
    font-size: 50px;
    user-select: none;
    cursor: pointer;
}

.DateSection {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: baseline;
}

.DateShifterButton {
    font-size: 50px;
    border: none;
}

.TitleOnly {
    padding: 7px 0;
}

.CounterListRoot {
    margin-top: 40px;
}

.CounterList {
    max-height: 600px;
    outline: none;
}

.SearchBar {
    display: flex;
    position: absolute;
    left: 20px;
    top: -48px;
}

.SearchBar label {
    border: 1px solid var(--primary-color);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: var(--primary-color);
    background-color: transparent;
    padding: 5px 15px;
    font-family: "Consolas";
    font-size: 20px;
    margin-top: 5px;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.SearchBar input {
    border: 1px solid var(--primary-color);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: var(--primary-color);
    background-color: transparent;
    padding: 5px 10px;
    font-family: "Consolas";
    font-size: 15px;
    margin-top: 5px;
    width: 200px;
}

.SearchBar input:focus {
    outline: none;
}

.FilterGroup {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: absolute;
    top: 20px;
    right: -245px;
}

.SolveCountFilter {
    display: flex;
    width: 225px;
    overflow: hidden;
}

.SolveCountFilter label {
    border: 1px solid var(--primary-color);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 5px;
    font-family: "Consolas";
    font-size: 18px;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.SolveCountFilter button {
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
    padding: 5px 10px;
    font-family: "Consolas";
    font-size: 18px;
    width: 50px;
}

.SolveCountFilter button:active {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.SolveCountFilter input {
    border: 1px solid var(--primary-color);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: var(--primary-color);
    background-color: transparent;
    padding: 5px 10px;
    font-family: "Consolas";
    font-size: 15px;
    width: 136px;
}

.SolveCountFilter input:focus {
    outline: none;
}
