@import '../../global.css';
.Apps {
    margin-top: 16%;
    text-align: center;
}

.App {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    background-color: transparent;
    padding: 10px 30px;
    margin: 10px 5px;
    font-weight: bold;
    font-family: "Consolas";
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.App:hover {
    border-color: var(--semi-transparent-color);;
    background-color: var(--semi-transparent-color);
    color: var(--background-color);
}

.App:focus {
    outline: 2px solid var(--slight-bright-color);
}