.Apps {
    margin-top: 16%;
    text-align: center;
}

.App {
    border: 2px solid lightblue;
    border-radius: 10px;
    color: lightblue;
    background-color: transparent;
    padding: 10px 30px;
    margin: 10px 5px;
    font-weight: bold;
    font-family: "Consolas";
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.App:hover {
    border-color: rgba(173, 216, 230, 0.822);;
    background-color: rgba(173, 216, 230, 0.822);
    color: #282c34;
}

.App:focus {
    outline: 2px solid rgba(173, 216, 230, 0.555);
}