@import '../global.css';
.Root {
    text-align: center;
}

.Loader {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    background-color: transparent;
    padding: 10px 30px;
    font-weight: bold;
    font-family: "Consolas";
    font-size: 20px;
    cursor: pointer;
}

.Loader:hover {
    border-color: var(--semi-transparent-color);
    background-color: var(--semi-transparent-color);
    color: var(--background-color);
}

.Loader:focus {
    outline: 2px solid var(--slight-bright-color);
}

.Divider {
    margin-top: 20px;
    border-color: var(--primary-color);
}

.SettingsButton {
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 10px 15px;
    font-size: 40px;
    border-radius: 15px;
}

.AppBrowser {
    position: fixed;
    top: 30px;
    left: 30px;
    padding: 10px 15px;
    font-size: 40px;
    border-radius: 15px;
}

.SectionTitle {
    font-size: 20px;
    text-align: left;
}   