.Root {
    text-align: center;
}

.LoaderDiv {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    margin-top: 30px;
    row-gap: 10px;
}

.Loader {
    border: 2px solid lightblue;
    border-radius: 5px;
    color: lightblue;
    background-color: transparent;
    padding: 10px 30px;
    font-weight: bold;
    font-family: "Consolas";
    font-size: 20px;
    cursor: pointer;
}

.Loader:hover {
    border-color: rgba(173, 216, 230, 0.822);
    background-color: rgba(173, 216, 230, 0.822);
    color: #282c34;
}

.Loader:focus {
    outline: 2px solid rgba(173, 216, 230, 0.555);
}

.NewTagName {
    border: 2px solid lightblue;
    border-radius: 5px;
    color: lightblue;
    background-color: transparent;
    padding: 10px;
    margin-top: 10px;
    font-family: "Consolas";
    font-size: 20px;
}

.NewTagName:focus {
    outline: 2px solid rgba(173, 216, 230, 0.555);
}

.AddTag {
    border: 2px solid lightblue;
    border-radius: 5px;
    color: lightblue;
    background-color: transparent;
    padding: 10px 30px;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: bold;
    font-family: "Consolas";
    font-size: 20px;
    cursor: pointer;
}

.AddTag:hover {
    border-color: rgba(173, 216, 230, 0.822);
    background-color: rgba(173, 216, 230, 0.822);
    color: #282c34;
}

.AddTag:focus {
    outline: 2px solid rgba(173, 216, 230, 0.555);
}

.TagList {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    column-gap: 10px; 
    margin-top: 10px;
}   

.Divider {
    margin-top: 20px;
    border-color: lightblue;
}

.SettingsButton {
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 10px 15px;
    font-size: 40px;
    border-radius: 15px;
}

.SectionTitle {
    font-size: 20px;
    text-align: left;
}   