@import '../../../global.css';
.RootDiv {
    position: relative;
}

.ContentDiv {
    border: 7px solid var(--primary-color);
    border-radius: 10px;
    width: 300px;
    text-align: left;
    max-height: 100px;
    overflow: auto;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.CloseButton {
    position: absolute;
    top: 0;
    right: 0;

    border: 1px solid var(--background-color);
    border-radius: 5px;
    color: var(--background-color);
    background-color: transparent;
    padding: 2px 5px;
    font-weight: bold;
    font-family: "Consolas";
    font-size: 12px;
    cursor: pointer;
    margin: 5px;
}

.CloseButton:hover {
    border-color: var(--background-color);
    background-color: var(--background-color);
    color: var(--primary-color);
}