.ModalBackground {
    display: block;
    z-index: 1000;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.ModalRootDiv {
    width: 1100px; 
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 25px;
    background-color: #282c34;
    margin: auto;
    position: fixed;
    top: 5%;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    overflow: auto;
}

.Header {
    display: flex;
    justify-content: space-between;
}

.CloseButton {
    border: 2px solid lightblue;
    border-radius: 5px;
    color: lightblue;
    background-color: transparent;
    padding: 5px 20px;
    font-weight: bold;
    font-family: "Consolas";
    font-size: 18px;
    cursor: pointer;
}

.CloseButton:hover {
    border-color: rgba(173, 216, 230, 0.822);;
    background-color: rgba(173, 216, 230, 0.822);
    color: #282c34;
}

.CloseButton:focus {
    outline: 2px solid rgba(173, 216, 230, 0.555);
}

.Devider {
    margin-top: 10px;
    border-color: lightblue;
}

.Title {
    user-select: none;
    font-size: 30px;
    font-weight: bold;
}

.MiniModal {
    margin-top: 13%;
    width: 400px;
}
.MiniModalCloseButton {
    border: 1px solid lightblue;
    border-radius: 5px;
    color: lightblue;
    background-color: transparent;
    padding: 4px 15px 3px;
    font-weight: bold;
    font-family: "Consolas";
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 10px;  
    right: 10px;
}
.MiniModalTitle {
    user-select: none;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.MediumModalCloseButton {
    font-size: 15px;
}
.MediumModal {
    margin-top: 8%;
    width: 700px;
}
.MediumModalTitle {
    text-align: left;
    font-size: 20px;
}

.LargeModal {
    width: 1500px;
}

