@import '../../../global.css';
.StudyMaterialList {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px;
}   

.NewStudyMaterialName {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    background-color: transparent;
    padding: 5px 10px;
    margin-top: 10px;
    font-family: "Consolas";
    font-size: 15px;
}

.NewStudyMaterialName:focus {
    outline: 2px solid var(--slight-bright-color);
}

.AddStudyMaterial {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    background-color: transparent;
    margin-top: 20px;
    font-family: "Consolas";
    font-size: 20px;
    cursor: pointer;
    padding: 0;
}

.AddStudyMaterialIcon {
    padding: 9px 20px 7px;
    --fa-secondary-opacity: 0.7;
}

.AddStudyMaterial:hover {
    border-color: var(--semi-transparent-color);
    background-color: var(--semi-transparent-color);
    color: var(--background-color);
}

.AddStudyMaterial:focus {
    outline: 2px solid var(--slight-bright-color);
}