.StudyMaterialList {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px;
}   

.NewStudyMaterialName {
    border: 1px solid lightblue;
    border-radius: 5px;
    color: lightblue;
    background-color: transparent;
    padding: 5px 10px;
    margin-top: 10px;
    font-family: "Consolas";
    font-size: 15px;
}

.NewStudyMaterialName:focus {
    outline: 2px solid rgba(173, 216, 230, 0.555);
}

.AddStudyMaterial {
    border: 1px solid lightblue;
    border-radius: 5px;
    color: lightblue;
    background-color: transparent;
    margin-top: 20px;
    font-family: "Consolas";
    font-size: 20px;
    cursor: pointer;
    padding: 0;
}

.AddStudyMaterialIcon {
    padding: 9px 20px 7px;
    --fa-secondary-opacity: 0.7;
}

.AddStudyMaterial:hover {
    border-color: rgba(173, 216, 230, 0.822);
    background-color: rgba(173, 216, 230, 0.822);
    color: #282c34;
}

.AddStudyMaterial:focus {
    outline: 2px solid rgba(173, 216, 230, 0.555);
}