
.RootDiv {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
}

.Option {
    border: 1px solid lightblue;
    border-radius: 5px;
    color: lightblue;
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
    padding: 5px 10px;
}

.Option:hover {
    outline: 2px solid rgba(145, 194, 211, 0.842);
}

.SelectedOption {
    border-color: rgba(173, 216, 230, 0.822);
    background-color: rgba(173, 216, 230, 0.822);
    color: #282c34;
}

.ActionDiv {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.ActionButton {
    border: 1px solid lightblue;
    border-radius: 5px;
    color: lightblue;
    background-color: transparent;
    padding: 5px 20px;
    font-weight: bold;
    font-family: "Consolas";
    font-size: 14px;
    cursor: pointer;
}

.ActionButton:hover {
    border-color: rgba(173, 216, 230, 0.822);;
    background-color: rgba(173, 216, 230, 0.822);
    color: #282c34;
}

.ActionButton:focus {
    outline: 2px solid rgba(173, 216, 230, 0.555);
}

.Divider {
    border-color: lightblue;
    margin: 0 0 10px;
}