@import '../../../../global.css';

.RootDiv {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 10px;
}

.Option {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    background-color: transparent;
    font-size: 12px;
    cursor: pointer;
    padding: 5px 10px;
}

.Option:hover {
    outline: 2px solid var(--semi-transparent-color);
}

.SelectedOption {
    border-color: var(--semi-transparent-color);
    background-color: var(--semi-transparent-color);
    color: var(--background-color);
}

.ActionDiv {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.ActionButton {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    background-color: transparent;
    padding: 5px 20px;
    font-weight: bold;
    font-family: "Consolas";
    font-size: 14px;
    cursor: pointer;
}

.ActionButton:hover {
    border-color: var(--semi-transparent-color);;
    background-color: var(--semi-transparent-color);
    color: var(--background-color);
}

.ActionButton:focus {
    outline: 2px solid var(--slight-bright-color);
}

.Divider {
    border-color: var(--primary-color);
    margin: 0 0 10px;
}